.chatbot-container{
    display: none;
    width:300px;
    text-align:center;
    margin-top:170px;
    margin-right:auto;
    margin-left:auto;
}


@media only screen and (min-width: 1500px){
    .chatbot-container{
        display: inline-block;
    }
}
