.login-prompt {
    width: 400px;
    height: 600px;
    border-radius: 1%;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px;
}

.login-form {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
}

input.login-form-input {
    width: 100%;
    height: 50px;
    align: center;
    margin-bottom: 20px;
}

.register-prompt {
    width: 400px;
    border-radius: 1%;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px;
    height: 700px !important;
}

.btn-container-kakao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #FEE500;
}

img.icon-kakao {
    display: inline-block;
    width: 22px;
    height: 20px;
}

img.icon-google {
    display: inline-block;
    width: 17px;
    height: 17px;
}

.hover-no-effect:hover {
    text-decoration: none !important;
}

.btn-hover-shadow:hover {
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

#view-login {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/pcb.svg');
    background-size: cover;
    overflow: hidden;
}

#kakaoBtnBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #FEE500;
}

#oAuthSection {
    width: 100%;
    align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: transparent;
}

#googleAuthBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #444;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: thin solid rgb(180, 178, 178);
    white-space: nowrap;
}

#googleAuthBtn:hover {
    cursor: pointer;
}

#loginBtn {
    background-color: #5603ad;
    color: white;
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

img.icon {
    display: inline-block;
    width: 17px;
    height: 17px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 14px;
    color: black;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

p.login-label {
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 7px;
}

hr.label-wrapper-line {
    width: 20%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(78, 76, 76);
}

@media only screen and (max-height: 1080px) {
    .login-prompt {
        margin-top: 200px;
    }
    #view-login {
        min-height: 1080px;
    }
}

@media only screen and (max-height: 700px) {
    .login-prompt {
        margin-top: 120px;
        min-height: 540px;
        max-height: 540px;
    }
    #view-login {
        min-height: 800px;
    }
    .login-form {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-height: 500px) {
    .login-prompt {
        margin-top: 100px;
        min-height: 540px;
        max-height: 540px;
    }
    #view-login {
        min-height: 800px;
    }
}

@media only screen and (max-height: 320px) {
    .login-prompt {
        margin-top: 100px;
        min-height: 540px;
        max-height: 540px;
    }
    #view-login {
        min-height: 800px;
    }
}

@media only screen and (max-width: 768px) {
    .login-prompt {
        width: 320px;
    }
    .login-form {}
}

@media only screen and (min-width: 768px) {
    .login-prompt {
        width: 400px;
    }
    .login-form {
        width: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    .login-prompt {
        width: 400px;
    }
    .login-form {
        width: 100%;
    }
}
