.login-prompt {
    width:          400px;
    height:         600px;
    border-radius:  1%;
    overflow:       hidden;
    margin-left:    0px;
    margin-right:   0px;
    margin-top:     200px;
}

.login-form {
    width:80%;
}

@media only screen and (max-width: 768px) {
    .login-prompt {
    }
}





@media only screen and (min-width: 768px) {
    .login-prompt {
        width: 400px;
    }
    .login-form {
        width:100%;
    }
}


@media only screen and (min-width: 1280px) {
    .login-prompt {
        width: 500px;
    }
    .login-form {
        width:100%;
    }
}
