.login-prompt {
    width:          400px;
    height:         600px;
    border-radius:  1%;
    overflow:       hidden;
    margin-left:    0px;
    margin-right:   0px;
    margin-top:     200px;
    padding-left:   30px;
    padding-right:  30px;
}

.login-form {
    width:100%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:transparent;
}

#view-login {
    display:flex;
    justify-content:center;
    margin:auto;
    width:100%;
    min-height:100vh;
    background-image: url(https://cdn.pixabay.com/photo/2012/04/13/01/23/moon-31665_960_720.png);
    background-size: cover;
    overflow:hidden;
}


@media only screen and  (max-height: 1080px) {
    .login-prompt {
        margin-top:200px;
    }
    #view-login {
        min-height: 1080px;
    }
}

@media only screen and  (max-height: 700px) {
    .login-prompt {
        margin-top:120px;
        min-height:540px;
        max-height:540px;
    }
    #view-login {
        min-height: 800px;
    }
    .login-form {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-height: 500px) {
    .login-prompt {
        margin-top:100px;
        min-height:540px;
        max-height:540px;
    }
    #view-login {
        min-height: 800px;
    }
}

@media only screen and (max-height: 320px) {
    .login-prompt {
        margin-top:100px;
        min-height:540px;
        max-height:540px;
    }
    #view-login {
        min-height: 800px;
    }
}

@media only screen and (max-width: 768px) {
    .login-prompt {
        width:          320px;
    }
    .login-form {

    }
}

@media only screen and (min-width: 768px) {
    .login-prompt {
        width: 400px;
    }
    .login-form {
        width:100%;
    }
}

@media only screen and (min-width: 1280px) {
    .login-prompt {
        width: 400px;
    }
    .login-form {
        width:100%;
    }
}
